# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
env/
ENV/
venv/

# VSCode
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS files
.DS_Store

# Pytest cache
.pytest_cache/

# Logs and databases
*.log
*.sqlite3

# Ignore system files
Thumbs.db
